<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="dbPhones" connectionString="data source=.\sqlexpress;initial catalog=PizzaDelivery;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
		<add name="dbPizzaDelivery" connectionString="Host=localhost;Database=PizzaDelivery;Username=postgres;Password=postgres" providerName="Npgsql" />
	</connectionStrings>
</configuration>